.header{
  transform: translateY(-150%);
  animation: header__nav 1.5s forwards;
  animation-delay: 1.5s
}

@keyframes header__nav {
  0% {
    transform: translateY(-150%);
  }
  100% {
    transform: translateY(0);
  }
}
