.main__heading {
  opacity: 0;
  transform: translateY(-200%);
  animation: intro__h1 1.5s forwards;
  animation-delay: 0.5s
}

@keyframes intro__h1 {
  0% {
    opacity: 0;
    transform: translateY(-200%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.intro__heading {
  opacity: 0;
  transform: translateY(200%);
  animation: intro__h2 1.5s forwards;
  animation-delay: 1s
}

@keyframes intro__h2 {
  0% {
    opacity: 0;
    transform: translateY(200%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}